body{
		background-color: #eee;
}
header{
	width: 10.0rem;
	height: 1.625rem;
	background-color: #fccd03;
	color: #333;
}
header a{
	font-size: 0.5625rem;
	margin-left: 0.28125rem;
	line-height: 1.609375rem;
	display: block;
	float: left;
	width: 3.625rem;

}
header h1{
	width: 2.578125rem;
	font-size: 0.625rem;
    display: block;
    float: left;
    line-height: 1.609375rem;

}
header a.home{
	width: 0.5rem;
	height: 0.46875rem;
	background: url(home.png) no-repeat 0 0 /cover;
    display: block;
    position: absolute;
    right: 0.84375rem;
    top: 0.484375rem;

}
ul.list{
	padding-top: 0.15625rem;
}
.item{
	width: 9.4375rem;
	height: 1.9375rem;
	border: 0.015625rem solid #dadada;
	border-radius: 0.15625rem;
	margin: 0.4375rem auto;
	background-color: white;
    padding-left: 0.296875rem;
    padding-top: 0.203125rem;
    box-sizing: border-box;
    position: relative;
}
.title{
	font-size: 0.5rem;
	color: #333;
	width: 7.1875rem;
	line-height: 0.84375rem;
}
.info{
	line-height: 0.703125rem;
	font-size: 0.375rem;
	color: #a9a9a9;
    padding-bottom: 0.3125rem;

}
.icon-hot{
	background: url(hot.png) 0 0 /cover;
	width: 0.515625rem;
	height: 0.4375rem;
	position: absolute;
	right: 1.328125rem;
	top: 0.421875rem;
}
.loading{
	font-size: 0.4375rem;
	color: #989898;
	width: 1.40625rem;
	height: 1.5625rem;
	margin: 0 auto;
}
.return{
	width: 3.3125rem;
	height: 0.9375rem;
	border:0.03125rem solid #d7d7d7;
	border-radius: 0.15625rem;
	margin: 0 auto 1.328125rem auto;
}
.re-top{
	font-size:0.53125rem;
	color: #686868;
	line-height: 0.875rem;
	padding-left:0.90625rem;
	text-decoration: none;
}
.subnav{
	width: 100%;
	height: 1.25rem;
	background-color: #2d2d2d;
}
.kuang{
	width: 9.375rem;
	height: 1.25rem;
	margin: 0 auto;
}
.bottom{
	width: 100%;
	height: 2.96875rem;
	background-color: #ffffff;
}
.subnav a{
	float: left;
	font-size: 0.5625rem;
	color: #fcfcfc;
	padding-left: 0.4375rem;
	line-height: 1.25rem;
}
.kind{
	width:7.8125rem;
	height: 0.46875rem;
	margin:0 auto;
	padding-top: 0.3125rem;
}
.kind span{
	font-size:0.4375rem;
	padding-left: 0.796875rem;
	color: #448ac8;
}
.massage{
	font-size: 0.46875rem;
	margin:0.46875rem 3.9375rem;
}
.email{
	font-size: 0.375rem;
	margin: 0 2.640625rem;
	color: #686868;
	
}
/*desc*/
.wrapper{
	padding: 0.625rem;
	background-color: #ffffff;
}
h2.power{
	font-weight: bolder;
	font-size: 0.625rem;
	color: #040404;
	line-height: 1.25rem;
}
.subtitle{
	color: #b7b7b7;
	font-size: 0.3125rem;
	line-height: 0.78125rem;
	padding-bottom: 0.359375rem;
	border-bottom: 1px solid #e8e8e8;
}
.cover{
	padding:0.5625rem 0 0.21875rem;
}
.cover-info{
	font-size: 0.375rem;
	line-height: 0.828125rem;
	color: #b7b7b7;
	text-align: center;
	padding-bottom: 0.3125rem;
}
.content{
	font-size: 0.46875rem;
	line-height: 0.9375rem;
}